body{
  font-size: 9pt;
  font-family: "DejaVu Sans", "Verdana", serif;
}

section{
  margin-left:1em;
  margin-top:0.5em;
}

section.level-1 > div.title {font-family: "Georgia", serif; font-size: 200%;}
section.level-2 > div.title {font-family: "Georgia", serif; font-size: 150%;}
section.level-3 > div.title {font-family: "Georgia", serif; font-size: 120%;}
section.level-4 > div.title {font-family: "Georgia", serif; font-size: 110%;}
section.level-5 > div.title {font-family: "Georgia", serif; font-size: 100%;}
section.level-6 > div.title {font-family: "Georgia", serif; font-size: 100%;}


div.title{
  font-family: "Georgia", serif;
  font-weight:bold;
  color: gray;
  border-bottom:1px solid #AAA;
}

div.title + details {
  font-size:90;
  color:gray;
  margin-left:2em;
  border:1px dotted gray;
}

span.tag{
  border: 1px dotted #AAA;
  background-color: #CCC;
  padding:1px;
  margin:2px;
  font-size: 8pt;
  float: right;
  display: block;
  position: relative;
  vertical-align: super;
}

blockquote{
  margin-left:1em;
  padding-left:1em;
  border-left: 1px dashed gray;
}

pre.src {
  border:1px dotted gray;
  margin-left: 2em;
  background-color: #f0f0f0;
  color: #123;
}
